.site-header {
  background-color: #fff;
  display: block;
  min-height: 100px;
  top: 0;
  width: 100%;
  z-index: 999;
}

.site-header-wrapper {
  background: inherit;
  left: 0;
  position: absolute;
  top: 0;
  transition: height .5s;
  width: 100%;
  z-index: 3;
}

.main-header {
  top: 0;
  width: 100%;
  z-index: 999;
  display: block;
  transition: height .5s;
  border-bottom: 1px solid #eee;
}

.main-header-top {
  height: 100px;
  transition: height .5s;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-header-left {
  margin-left: 10px;
  margin-top: 2px;
  max-height: 100%;
  text-align: center;
  transition: height .5s;
}

.main-header-center {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  transition: all .5s;
  flex-grow: 1;
}

.main-header-right {
  margin-right: 40px;
  right: 0;
  top: 0;
  transition: all .5s;
  max-width: 450px;
  display: flex;
}

#sticky-header {
  position: fixed;
  top: -200px;
  width: 100%;
  transition: top 0.3s;
  background: white;
  z-index: 2;
  border-bottom: 1px solid #eee;
}

.sticky-header-container {
  max-width: 1200px;
  margin: 0 auto;
}

.sticky-header-left {
  display: block;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  transition: all .5s;
  width: 100%;
  position: relative;
  max-width: 325px;
  float: left;
  margin-top: 20px
}

.sticky-header-right {
  right: 0;
  top: 0;
  transition: all .5s;
  max-width: 900px;
  display: flex;
}

.header-user {
  display: inline-block;
  margin-top: 10px;
  padding-bottom: 5px;
  vertical-align: middle;
}

.header-hire-me {
  display: inline-block;
  margin-right: 20px;
}

.header-login {
  display: inline-block;
  margin-right: 20px;
}

.header-search {
  display: inline-block;
  padding-bottom: 5px;
  vertical-align: middle;
}

.main-header h1 a {
  font-size: 36px;
}

.main-header a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.nav-bar {
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar-container {
  border-bottom: 1px solid #eee;
}

.nav-menu {
  justify-content: space-around;
  margin: 0 auto;
  display: flex;
}

.nav-menu div {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.nav-menu div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height: 90px;
}

.nav-menu div:active {}

.nav-menu div h1 a {
  font-size: 30px;
}

.nav-menu div a {
  padding: 0 20px;
  font-weight: 600;
  font-size: 1.2vw;
  font-weight: bold;
  text-decoration: none;
}

.sticky-header-right .nav-menu div a {
  padding: 0px 20px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

#logo {
  max-width: 250px;
  width: 100%;
}

@media (max-width: 640px) {
  .nav-menu-item {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-menu div a {
    font-size: 13px;
  }
}
