#section-home {
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.section .section-home {
  padding: 0;
}

.section-anchor {
  position: absolute;
  top: -100px;
}

.section-anchor-artist {
  position: absolute;
}

.section-anchor-slide {
  position: absolute;
  top: -50px;
}

.blocks {
  position: relative;
}

.blocks-hero {
  position: relative;
  padding: 0;
  height: 80vh;
  background-color: white;
}

.title-bold {
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

.home-face {
  display: flex;
  width: 100%;
  margin-top: 140px;
  justify-content: space-evenly;
}

.header {
  width: 50%;
  position: relative;
  text-align: justify;
}

.header-right {
  width: 40%;
  align-content: center;
  display: flex;
}

.section-main {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.section-one {
  width: 100%;
  display: inline-block;
  min-height: 90vh;
  position: relative;
}

.section-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 100px
}

.section-wrapper-two {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 100px
}

.row-fluid {
  width: 100%;
}

.section-wrapper-right {
  margin: 100px 0;
  display: inline-block;
}

.image-show-off {
  position: relative;
  height: 100%;
  width: 100%;
}

.image-show-off:after {
  content: '';
}

.image-show-off img {
  width: 150px;
  height: 150px;
}

.section-wrapper-left {
  margin-bottom: 160px;
  display: inline-block;
}

.section-left {
  padding-right: 8vw;
  left: 0;
}

.section-right-text {
  margin-left: 5vw;
  padding: 15% 0;
}

.section-two {
  width: 100%;
  display: inline-block;
  min-height: 90vh;
  position: relative;
  margin: 100px 0;
}

.section-three {
  width: 100%;
  display: inline-block;
  min-height: 90vh;
  position: relative;
}

#divider {
  margin-bottom: 100px;
}

.italic {
  font-style: italic;
}

.home-text {
  margin: 50px 0;
}

.featured-item-subheader {
  color: #D9CA93;
  font-weight: 600;
  font-size: 20px !important;
  line-height: 1.8;
}

.featured-item-body {
  margin-bottom: 50px;
  line-height: 2;
}

.img-home {
  box-shadow: 0 0.3125rem 1rem 0 rgba(0, 0, 0, 0.24);
  width: 100%;
  height: auto;
}

#image-bio {
  width: 100%;
}

.relative {
  position: relative;
}

@media (max-width: 767px) {
  .section-wrapper-two {
    flex-direction: column-reverse;
  }

  .section-wrapper {
    flex-direction: column;
    margin-top: 0;
  }

  .prev,
  .next {
    top: -1250%
  }
  .section-right-text {
    padding: 0;
  }
}

@media (max-width: 640px) {
  .section-wrapper {
    margin-top: 0;
  }

  .section-wrapper-two {
    margin-bottom: 100px;
    margin-top: 0;
  }

  .image-home {
    max-width: 320px;
  }

  .section-right-text {
    margin: 0;
    padding: 0 5%;
  }

  .section-left {
    padding: 10% 5%;
  }

  .section-wrapper-right {
    margin: 0 0 50px 0;
  }

  .title-bold {
    text-align: center;
    letter-spacing: 0.2em;
  }

  .featured-item-subheader {
    text-align: center;
  }

  .featured-item-body {
    text-align: center;
  }

  .section-slide {
    margin: 100px auto 0 auto;
  }
}
